Source: conversations
Section: x11
Priority: extra
Maintainer: Merlijn Wajer <merlijn@wizzup.org>
Build-Depends: debhelper (>= 10),
    qt6-base-dev,
    cmake,
    libx11-dev,
    zlib1g-dev,
    libpng-dev,
    qt6-svg-dev,
    qt6-5compat-dev,
    qt6-declarative-dev,
    libqt6-qpa-maemo,
    libqt6-style-maemo,
    qt6-maemo,
    libqt6csv-dev,
    libosso-abook-dev,
    librtcom-eventlogger-dev,
    librtcom-eventlogger-plugins-dev,
    libtelepathy-qt6-dev,
    maemo-system-services-dev
Homepage: https://github.com/maemo-leste/conversations
XSBC-Bugtracker: https://github.com/maemo-leste/conversations/issues
Vcs-Git: https://github.com/maemo-leste/conversations/
Vcs-Browser: https://github.com/maemo-leste/conversations/


Package: conversations
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    libqt6quickcontrols2-6,
    qml6-module-qtquick-controls,
    qml6-module-qtquick,
    qml6-module-qtquick-layouts,
    qml6-module-qtquick-dialogs,
    qml6-module-qtqml-workerscript,
    libqt6-qpa-maemo,
    libqt6-style-maemo,
    librtcom-eventlogger1,
    librtcom-eventlogger-plugins1,
    libosso-abook,
    libtelepathy-qt6-0
Description: Maemo Conversations UI with RTCOM and Telepathy integration
