* {
  color: "white";
  font-size: {{ font_size }}pt;
}

span {
  display: block;
}

.small {
  font-size: {{ font_size_small }}pt;
}

.text-muted {
  color: "grey";
}

.header {
  font-size: {{ font_size_big }}pt;
}